.popup-overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    justify-content: center;
    align-items: center;
}

/* Estilo para el contenido del popup */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: auto;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}