body {
    overflow-y:auto;
}


#titlee {
   margin:40px;
}

#todo {
    margin-left:100px;
}

.datosbasicos {
    color:grey;
}
button {
    background-color:#253141;
    color:aliceblue;
    border-radius:4px;
    padding:3px;
}