

body {
    overflow-x:hidden;
}

#seccion-imagen1 img {
    object-fit: cover;
    height: 50vh;
    overflow: hidden;
 
    mask-image: linear-gradient(180deg, rgba(37,49,65,1) 27%, rgba(37,49,65,1) 89%);
   -webkit-mask-image: linear-gradient(180deg, rgba(37,49,65,1) 27%, rgba(37,49,65,0) 89%);
   border:2px solid  rgba(37,49,65,1);
}


#texto {
    text-align:center;
}

#megatitulo {
    text-align:center;
    color:rgba(37,49,65,1);
}

#btn-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: none; /* Se oculta inicialmente */
    background-color:transparent;
    border:none;
    color:rgba(37,49,65,1);

}

h2 {
   color: rgba(37,49,65,1);
}
#comoEncargar {
    
}

#tarjetita {
    transition:transform 0.4s;
}
#tarjetita:hover {
    transform:scale(1.04);

}

@media (max-width: 768px) {
    #seccion-imagen1 img {
        height: 30vh;
    }

}