header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    background-color: #253141;
}
    header img{
        height: 100px;
    } 
    #buscador {
        width: 60%;
        padding: 6px;
        margin: 10px;
        border-radius: 20px;
    }

#titulo {
    background-color:#abb7be;
    padding-bottom:30px;
}

