






#slides {
    margin-top: 60px;
    position: relative;
    left: 10%;
    border: 5px solid #253141;
    width: 80%;
    height: 250px;
    list-style-type: none;
    box-shadow: 15px 10px 20px 0px #253141;
}


.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide {
    font-size: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    background-size:fill;
}

.slide:nth-of-type(1) {
    background-image: url(../img/Captura\ de\ pantalla\ 2024-08-08\ 234034.png);
    background-position: 50%;
}
.slide:nth-of-type(2) {
    background-image: url(../img/Captura\ de\ pantalla\ 2024-08-08\ 234051.png);
    background-position: 50%;
}
.slide:nth-of-type(3) {
    background-image: url(../img/Captura\ de\ pantalla\ 2024-08-08\ 234527.png);
}
.arrow {
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.arrow img{
  top: 40%;
  padding-left: 10px;
  margin: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  display: inline-block;
}
.arrow #right{
  float: right;
  padding-right: 80px;
}
.arrow:hover{
    opacity: 1;
}


.subtitulo{
    text-align: center;
    margin-top: 50px;
    font-weight:bold;
}

#productos-nuevos{
    display: flex;
    justify-content: center;
    
    
}

.producto-posicion{
    margin-right: 20px;
    border: 2px solid black;
    width: 200px;
    transition: 0.2s;
}

.producto-posicion:hover{
    border-radius: 5px;
    transform: scale(1.01);
    box-shadow: 5px 5px 8px 0px #0000008c;
}

.img-prod{
    width: 200px;
    height: 200px;
}
.nombre-prod{
    margin: 0px;
    background-color: #253141;
    color: whitesmoke;
}
.precio-prod{
    text-align: center;
}
footer{
    margin-top: 50px;
    background-color: #253141;
}
#footer-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-cont img{
    width: 300px;
}
#footer-cont p{
    color: whitesmoke;
}

@media (max-width: 768px) {
    .navegacion ul {
        display:none;
    }

 .iconos {
    background-color: #B7BCC0;
   display:inline-block !important;
   width:100%;
   
   
 }

    
 #footer-cont img{
    width: 150px;
 }
 svg {
   width:50px;
   height:30px;

   padding:2px;
 }


 .derecha {
    float:right;

 }

 .izquierda {
    float:left;
 }


 .menu {
    display:none;
 }

 #slides {
height:150px;
background-size:contain;
 }

 .arrow {
    height:100%;
    width:100%;
 }

}
    