@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,600&display=swap');



body{
    background-color: #253141;
    margin: 0px;
    font-family: 'Poppins', semi-bold;
}



body > #cont-admin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cont-admin{
    background-color: #B7BCC0;
    margin: auto;
    width: 60%;
    padding: 20px;
}

#cont-user{
    padding: 20px;
}
#cont-user p {
    color: rgb(54, 54, 54);
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    font-size: x-large;
    width:auto;
    height: 25px;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
}

.boton-admin-opciones{
    margin-bottom: 15px;
    background-color: #253141;
    border-radius: 30px;
    transition: all 0.2s;
}

.boton-admin-opciones:hover {
    background-color: #EFF3F6;
    transform: scale(1.02);
    box-shadow: 2px 4px 8px rgb(19, 2, 41);
}

.boton-admin-opciones:hover a {
    color:#253141;
}

img{
    margin-top: 50px;
    width: 400px;
}