/* Hoja de style para casi todos los views asi no tengo que copiar y pegar como boluda */
 * {
   padding: 0px;
   margin: 0px;
   
}

/*header*/

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    background-color: #253141;
}
    header img{
        height: 100px;
    } 
    #buscador {
        width: 60%;
        padding: 6px;
        margin: 10px;
        border-radius: 20px;
    }


.cont-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cont-buscador{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#lupa {
    margin-right: 50px;
    cursor:pointer;
    opacity: 0.8;
}

.cont-buscador #buscador {
    width: 100%;
}

.icono-user{
    fill: red;
    color: red; /* Sin color inicial */
    stroke: red; /* Color inicial de borde */
    transition: fill 0.3s, stroke 0.3s; /* Transición suave */
}


.icono-user:hover {
    color:red /* Color de borde blanco al hacer hover */
}


 
#badge-carrito {
    position: relative;
    right: 15px;
    bottom: 10px;
}

body {
   background-color: #EFF3F6;
   font-family: 'Poppins', semi-bold;

}
/* Responsividad */
@media (max-width: 768px) { 
    .navegacion ul {
        display:none;
    }

 .iconos {
    background-color: #B7BCC0;
   display:inline-block !important;
   width:100%;
   
   svg {
    width:50px;
    height:30px;
 
    padding:2px;
  }


 
  .derecha {
     float:right;
 
  }
 
  .izquierda {
     float:left;
  }
 
 
  .menu {
     display:none;
  }
 }













 /* Header */
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    background-color: #253141;
}

a { 
    outline: none; 
    border: 0; 
    text-decoration: none; 
  }

header img {
    height: 100px;
}

#buscador {
    width: 60%;
    padding: 6px;
    margin: 10px;
    border-radius: 20px;
}

a svg:hover{
    fill: aqua;
}

/* Nav */

.navegacion ul{
    list-style: none;
    background-color: #B7BCC0;
}
.menu > li {
    position: relative;
    display: inline-block;
}
.menu > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #253141;
}

.menu li a:hover{
    text-decoration: underline;
}

.submenu{
    padding: 0px;
    width: 150%;
    position: absolute;
    display: none;
    z-index: 100;
    
}

.submenu a{
    text-decoration: none;
    color: whitesmoke;
}
.submenu li{
    background-color: #253141;
    border-bottom: 1px solid black;
    padding: 15px;
}
.menu li:hover .submenu{
    display: block;
}


