/* Hoja de style para casi todos los views asi no tengo que copiar y pegar como boluda */

@media (max-width: 768px) {
    .navegacion ul {
        display:none;
    }

 .iconos {
    background-color: #B7BCC0;
   display:inline-block !important;
   width:100%;
   
   svg {
    width:50px;
    height:30px;
 
    padding:2px;
  }
 
 
  .derecha {
     float:right;
 
  }
 
  .izquierda {
     float:left;
  }
 
 
  .menu {
     display:none;
  }
 }
